<%- include('partials/header') -%>
<div class="hero">
    <h1> PACKING </h1>
</div>

<div class="form-container">
  <form action="/packing/createItem"  method="POST">
    <label for="category-select">Choose a category:</label>
      <select name="category" id="category-select">
        <option value="">--Please choose an option--</option>
        <option value="toiletries">Toiletries</option>
        <option value="footwear">Footwear</option>
      </select>
      <input type="text" placeholder="Enter an item" name='packingItem'>
      <input type="submit">
  </form>
 </div>

 <ul>
  <% items.forEach( el => { %>
          <li class='packingItem' data-id='<%=el._id%>'>
              <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.item %></span>
              <span class='del'> Delete </span>
          </li>
  <% }) %>    
</ul>

 <div class="items-left-to-pack">
   <h2><%= user.userName %> has <%= left %> things left to do.</h2>
 </div>


<%- include('partials/footer') -%>
